.loading-container {
  width: 200px;
  height: 50px;
  &-scroll {
    width: 50px;
    height: 50px;
  background:blue;
  animation-direction: alternate;
  // animation-name: myfirst;
  // animation-duration: 1s;

  position: relative;
  animation: myfirst 1s infinite;
  // animation-direction: alternate;
  }
}

@keyframes myfirst {
  0%   { left: 0px; top: 0px;}
  25%  { left: 50px; top: 0px;}
  50%  { left: 100px; top: 0;}
  75%  { left: 150px; top: 0px;}
  100% { left: 0px; top: 0px;}
}